.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    padding: max(0.8vw, 10px) max(2.4vw, 10px);
    background: linear-gradient(20deg, #07a784, #0a7e5e);
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: max(2.4vw, 12px);
    flex-wrap: wrap;
    z-index: 1;

    @media (max-width: 305px) {
        justify-content: center;
    }

    > h2 {
        padding: max(0.125vw, 4px) max(0.25vw, 4px);
        border: max(0.25vw, 2px) solid #fff;
        letter-spacing: max(0.25vw, 3px);
        font-size: max(1.6vw, 18px);
        color: #fff;
    }

    > div {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: max(2.4vw, 12px);
        font-size: max(1.8vw, 20px);

        > a {
            color: #fff;
            transition: all 250ms ease;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}
