@mixin f {
    @keyframes f {
        0%,
        100% {
            background-position: 0 50%;
        }

        50% {
            background-position: 100% 50%;
        }
    }

    animation: f 10s ease-in-out infinite;
    background: linear-gradient(270deg, #67b26f 0%, #4ca2cd 100%);
    background-size: 250%;
    background-clip: text;
    color: transparent;
}

.hero {
    height: 100vh;
    display: grid;
    place-items: center;
    align-content: center;
    font-weight: bold;
    text-align: center;
    gap: max(1vw, 4px);
    padding: 6vw;
    background: transparent;

    > h1 {
        @include f;

        width: 100%;
        font-size: max(4vw, 32px);
        color: #00000000;
    }

    > span {
        font-size: max(3vw, 24px);
        color: white;
        letter-spacing: max(0.3vw, 3px);
    }
}

.container {
    background-image: url("../public/circuit_tile.png");
    padding: 6vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6vw;

    > section {
        width: max(100%, 50vw);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 2vw;

        > h2 {
            text-align: center;
            font-size: max(2.4vw, 18px);
        }

        > div,
        > p {
            text-align: justify;
            font-size: max(1.5vw, 16px);

            > ol,
            > ul {
                > li {
                    text-align: left;
                    margin: max(1vw, 4px) max(1.5vw, 12px);
                }
            }

            > a:hover {
                text-decoration: underline;
            }
        }

        > pre {
            width: max(41vw, 300px);
            height: max(55vw, 512px);
            align-self: center;
            background: #2c2c32;
            color: #fff;
            padding: 2vw;
            border-radius: 1vw;
            font-size: max(1vw, 10px);
            white-space: pre-wrap;
            word-wrap: break-word;
            word-break: break-all;
        }
    }
}
