.container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
    font-weight: bold;
    text-align: center;
    padding: 6 vw;
    color: white;

    > h1 {
        font-size: max(8vw, 50px);
        margin: 0;
    }

    > span {
        font-size: max(3vw, 18px);
        letter-spacing: max(0.25vw, 2px);
    }
}

.content {
    background-image: url("../public/circuit_tile.png");
    padding: 6vw;
    text-align: justify;

    > h2 {
        font-size: max(3vw, 24px);
        margin: 0 3vw;
    }

    > p {
        font-size: max(1.8vw, 18px);
        margin: 2vw 0;
    }

    > code {
        font-size: max(2vw, 20px);
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    > div {
        margin: 2vw 0;
        display: grid;
        place-content: center;

        > iframe {
            border: none;
            width: min(133vh, 94vw);
            height: min(80vh, 94vw);
            place-self: center;
        }
    }
}
